@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  font-family: "Montserrat", sans-serif !important;
  padding: 0;
  margin: 0;
}

.scrollable-div {
  height: 600px;
  overflow-y: auto;
}

/* Custom scrollbar */
.scrollable-div::-webkit-scrollbar {
  width: 5px;
}

.scrollable-div::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

.scrollable-div::-webkit-scrollbar-thumb:hover {
  background: #555;
}
